body {
    color: black;
    background-color: Azure;
    margin: 20px;
    margin-top: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

header{
    background-color: rgb(214, 229, 248);
}


div{
    color: #427b9c;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size:medium;
    text-align: center;
    margin: 15px;
    
}
h1{
    color: #043c70;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.3px;
    text-align: center;
    
}
h2{
    color:  #1f609c;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-size: 160%;
    text-align: center;
    
}
h3{
    color: #427b9c;
    font-variant: small-caps;
    letter-spacing: 0.5px;
    font-size: 110%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    
}

p{
    font-size:medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


fieldset legend{
	color: #427b9c;
	border-top: 1px solid #317683;
	border-left: 1px solid #317683;
    border-right: 1px solid #317683;
    border-bottom: 1px solid #317683;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #c1cecd;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #317683;
	-moz-box-shadow:-0px -1px 2px #317683;
	-webkit-box-shadow:-0px -1px 2px #317683;
	font-weight: normal;
	font-size: 120%;
    text-align: left;
}

fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #317683;
	padding: 20px;
	background: #c1cecd;
	box-shadow: inset 0px 0px 15px #317683;
	-moz-box-shadow: inset 0px 0px 15px #317683;
    -webkit-box-shadow: inset 0px 0px 15px #317683;

}
dl{
    text-align: left;
}
select{
    color:#2d7198;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin:18px ;
}

button{
    color:#427b9c;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin:18px ;
    font-size: medium;
}

button:hover{
    background-color: rgb(151, 151, 146);
}

.parFiltro{
    text-align: left;
}